@keyframes slide-hero
  0%
    left: 0
  20%
    left: 0

  25%
    left: -100%
  45%
    left: -100%

  50%
    left: -200%
  70%
    left: -200%

  80%
    left: -300%
  100%
    left: -300%

@keyframes slide-place
  0%
    left: 0
  30%
    left: 0

  35%
    left: -100%
  65%
    left: -100%

  70%
    left: -200%
  100%
    left: -200%
  
.slider
  overflow: hidden
  position: relative

  &--hero
    min-height: 100vh

  &--place
    max-height: 340px

    +min-screen(1025px)
      max-height: 400px

  &__slides
    position: relative
    display: flex
    flex-flow: row
    white-space: nowrap

    .slider--hero &
      width: 400%
      +animation(slide-hero 30s infinite alternate)

    .slider--place &
      width: 300%
      +animation(slide-place 20s infinite alternate)

  &__slide
    height: 100%
    position: relative
    overflow: hidden

    .slider--hero &
      width: 25%

    .slider--place &
      width: calc(100% / 3)


  &__background
    
    .slider--hero &
      +min-screen(1025px)
        max-height: 100%
      
      +max-screen(1024px)
        height: 100vh
        
      +max-screen(768px)
        height: 100vh
        position: relative
        left: -50%

    .slider--place &
      max-width: 100%