@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  line-height: 1.2;
}

.note {
  font-size: 12px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */

*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #424242;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2;
}

.homePage {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 7;
}

.homePage__showcase-food {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: 1;
}

.homePage__showcase-food .showcase-carousel {
  margin: 30px 0;
  grid-column-start: 1;
  grid-column-end: 8;
}

.homePage__showcase-food .showcase-carousel .owl-nav {
  position: absolute;
  bottom: 0;
  right: 5%;
}

.homePage__showcase-food .showcase-carousel .owl-nav .carousel-back,
.homePage__showcase-food .showcase-carousel .owl-nav .carousel-next {
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
}

.homePage__showcase-food .showcase-carousel .owl-nav .carousel-back:hover,
.homePage__showcase-food .showcase-carousel .owl-nav .carousel-next:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #dcdbdb;
}

.homePage__showcase-food .showcase-carousel .owl-nav .carousel-back::before,
.homePage__showcase-food .showcase-carousel .owl-nav .carousel-back::after,
.homePage__showcase-food .showcase-carousel .owl-nav .carousel-next::before,
.homePage__showcase-food .showcase-carousel .owl-nav .carousel-next::after {
  content: "";
  width: 21px;
  height: 1px;
  background-color: #424242;
  border-radius: 1px;
  display: inline-block;
  position: relative;
  top: 8px;
}

.homePage__showcase-food .showcase-carousel .owl-nav .carousel-back::before,
.homePage__showcase-food .showcase-carousel .owl-nav .carousel-next::before {
  -webkit-transform: rotate(45deg) translateX(25%);
          transform: rotate(45deg) translateX(25%);
}

.homePage__showcase-food .showcase-carousel .owl-nav .carousel-back::after,
.homePage__showcase-food .showcase-carousel .owl-nav .carousel-next::after {
  -webkit-transform: rotate(-45deg) translateX(-25%);
          transform: rotate(-45deg) translateX(-25%);
}

.homePage__showcase-food .showcase-carousel .owl-nav .carousel-back {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.homePage__showcase-food .showcase-carousel .owl-nav .carousel-next {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.homePage__background-restaurant {
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
}

.homePage__background-restaurant .background-restaurant {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 8;
}

.homePage__instagram {
  display: grid;
  grid-template-columns: repeat(16, 6.25%);
}

.homePage__instagram .instagram {
  grid-column-start: 2;
  grid-column-end: 16;
}

.support-text {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: 1;
}

.support-text__content {
  grid-column-start: 3;
  grid-column-end: 7;
}

@media only screen and (max-width: 1024px) {
  .support-text__content {
    grid-column-start: 2;
    grid-column-end: 8;
  }
}

/*
 *  Owl Carousel - Core
 */

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */

.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */

.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.footer {
  margin: 30px 0;
  padding: 10px;
  border-top: 1px solid #f5f5f5;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2;
  -webkit-box-shadow: 0 -7px 14px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -7px 14px rgba(0, 0, 0, 0.1);
}

.footer__socials {
  justify-self: end;
}

.footer__copyright {
  justify-self: end;
}

.social-share--footer {
  margin: 10px 0;
}

.social-share--navigation {
  margin: 10px 0;
}

.social-share__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-share__item {
  margin-right: 10px;
}

.social-share__link {
  border-radius: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  display: block;
}

.social-share--navigation .social-share__link {
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
}

.social-share--navigation .social-share__link:hover {
  background-color: #353535;
  border: 1px solid white;
}

.social-share--footer .social-share__link {
  border: 1px solid #424242;
  color: #424242;
  background-color: #f5f5f5;
}

.social-share--footer .social-share__link:hover {
  background-color: #e8e8e8;
  border: 1px solid #8f8e8e;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: #424242;
  text-align: center;
  padding-top: 10%;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation-open nav {
  opacity: 1;
}

.navigation__social {
  margin: 30px auto 30px;
  color: #f5f5f5;
  width: 100px;
}

.navigation__address {
  margin: 30px;
  color: #f5f5f5;
  text-align: center;
}

.navigation__address-text {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
}

.nav--footer {
  margin: 10px 0;
}

.nav--footer .nav__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav--navigation .nav__item {
  width: 80%;
  margin: 20px auto;
}

.nav--footer .nav__item {
  margin-right: 10px;
}

.nav__nav-link {
  text-decoration: none;
}

.nav--navigation .nav__nav-link {
  font-size: 24px;
  color: #f5f5f5;
  padding: 25px 0;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav--navigation .nav__nav-link:hover {
  background-color: #5B5B5B;
}

.nav--footer .nav__nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-right: 7px;
  color: #424242;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav--footer .nav__nav-link:hover {
  color: #8f8e8e;
}

.copyright--footer {
  margin: 5px 0;
}

.hero-image {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-image__scroll {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@-webkit-keyframes slide-hero {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  80% {
    left: -300%;
  }

  100% {
    left: -300%;
  }
}

@keyframes slide-hero {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  80% {
    left: -300%;
  }

  100% {
    left: -300%;
  }
}

@-webkit-keyframes slide-place {
  0% {
    left: 0;
  }

  30% {
    left: 0;
  }

  35% {
    left: -100%;
  }

  65% {
    left: -100%;
  }

  70% {
    left: -200%;
  }

  100% {
    left: -200%;
  }
}

@keyframes slide-place {
  0% {
    left: 0;
  }

  30% {
    left: 0;
  }

  35% {
    left: -100%;
  }

  65% {
    left: -100%;
  }

  70% {
    left: -200%;
  }

  100% {
    left: -200%;
  }
}

.slider {
  overflow: hidden;
  position: relative;
}

.slider--hero {
  min-height: 100vh;
}

.slider--place {
  max-height: 340px;
}

@media only screen and (min-width: 1025px) {
  .slider--place {
    max-height: 400px;
  }
}

.slider__slides {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  white-space: nowrap;
}

.slider--hero .slider__slides {
  width: 400%;
  -webkit-animation: slide-hero 30s infinite alternate;
  animation: slide-hero 30s infinite alternate;
}

.slider--place .slider__slides {
  width: 300%;
  -webkit-animation: slide-place 20s infinite alternate;
  animation: slide-place 20s infinite alternate;
}

.slider__slide {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider--hero .slider__slide {
  width: 25%;
}

.slider--place .slider__slide {
  width: calc(100% / 3);
}

@media only screen and (min-width: 1025px) {
  .slider--hero .slider__background {
    max-height: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .slider--hero .slider__background {
    height: 100vh;
  }
}

@media only screen and (max-width: 768px) {
  .slider--hero .slider__background {
    height: 100vh;
    position: relative;
    left: -50%;
  }
}

.slider--place .slider__background {
  max-width: 100%;
  width: 100%;
}

.strip {
  width: 100%;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  text-align: center;
}

.strip--hero {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.strip--place {
  position: absolute;
  bottom: 20px;
}

.strip__text {
  color: #ffffff;
}

.support-text {
  margin: 30px 0;
}

.support-text__content--center {
  text-align: center;
}

.support-text__title {
  margin-bottom: 20px;
}

.support-text__paragraph {
  margin-bottom: 10px;
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

.mouse-scroll {
  width: 16px;
  height: 30px;
  z-index: 3;
}

.mouse-scroll__mouse {
  height: 22px;
  width: 14px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.mouse-scroll__wheel {
  position: relative;
  display: block;
  height: 3px;
  width: 3px;
  margin: 2px auto 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  animation: mouse-wheel 1.2s ease infinite;
}

.mouse-scroll__arrow {
  display: block;
  width: 5px;
  height: 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  margin: 0 0 2px 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.mouse-scroll__arrow--1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.mouse-scroll__arrow--2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.mouse-scroll__arrow--3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.carousel {
  position: relative;
}

.carousel__support-text {
  position: absolute;
  bottom: 20px;
  left: 5%;
}

.carousel__header {
  padding: 5px 10px;
  background-color: #f5f5f5;
  max-width: 120px;
  text-align: center;
  text-transform: capitalize;
}

.carousel__description {
  padding: 5px 10px;
  background-color: #424242;
  color: #f5f5f5;
}

.menu__choose {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.menu__image-wrapper {
  padding-bottom: 10px;
}

.menu__image-wrapper:hover .menu__image {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.menu__image {
  max-width: 100%;
  -webkit-filter: grayscale(75%);
          filter: grayscale(75%);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.menu__choose-column {
  position: relative;
}

.menu__choose-column.restaurant {
  padding-right: 10px;
}

.menu__choose-column.pizzeria {
  padding-left: 10px;
}

.menu__cta {
  background-color: #424242;
  position: absolute;
  left: 5%;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__cta:hover {
  background-color: #5c5b5b;
}

.menu__cta > a {
  display: block;
  color: #f5f5f5;
  text-decoration: none;
  padding: 5px 10px;
  height: 20px;
  line-height: 20px;
}

.instagram--homePage {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 2;
}

.instagram__item {
  padding: 5px;
  max-height: 250px;
  overflow: hidden;
}

.instagram__image {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.toggler {
  position: fixed;
  width: 60px;
  height: 60px;
  top: 10px;
  right: 10px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  z-index: 4;
}

.toggler__icon-left {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  height: 2px;
  width: 15px;
  top: 30px;
  background-color: #f5f5f5;
  left: 0px;
}

.toggler__icon-left:before {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #f5f5f5;
  content: "";
  top: -10px;
}

.toggler__icon-left:after {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #f5f5f5;
  content: "";
  top: 10px;
}

.toggler__icon-left:hover {
  cursor: pointer;
}

.toggler__icon-right {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  height: 2px;
  width: 15px;
  top: 30px;
  background-color: #f5f5f5;
  left: 15px;
}

.toggler__icon-right:before {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #f5f5f5;
  content: "";
  top: -10px;
}

.toggler__icon-right:after {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #f5f5f5;
  content: "";
  top: 10px;
}

.navigation-open .toggler .toggler__icon-left {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: transparent;
}

.navigation-open .toggler .toggler__icon-left:before {
  -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
          transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
}

.navigation-open .toggler .toggler__icon-left:after {
  -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
          transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
}

.navigation-open .toggler .toggler__icon-right {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: transparent;
}

.navigation-open .toggler .toggler__icon-right:before {
  -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
          transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
}

.navigation-open .toggler .toggler__icon-right:after {
  -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
          transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
}

.navigation-open .toggler .toggler__icon-right:hover {
  cursor: pointer;
}

